/* All images come from pexels.com */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Comfortaa:wght@400;700&family=Source+Code+Pro:wght@200;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 217, 251, 0.2);
    /* font-family: 'Comfortaa', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.column {
    width: 19rem;
    /* important!!! */
    overflow: hidden;
    box-shadow: rgba(50,50,50, 0.25) 0 2x 5px -1px, 
    rgba(0,0,0, 0.3) 0 1px 3px -1px;
    border-radius: 0.9rem;
    margin: 1.5rem;
}

.task-title {
    width: 19rem;
}

.task-title h2 {
    margin: 0;
    padding: 0.8rem;
}

#title-1 {
    background-color: rgba(251, 0, 255, 0.9);  
}

#title-2 {
    background-color: rgba(251, 200, 0, 1); 
}

#title-3  {
    background-color: rgba(251, 67, 20, 0.9); 
}

.task-container {
    width: 19rem;
    min-height: 12rem;
    overflow: hidden;
    background-color: rgba(218, 165, 32, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.task {
    width: 18rem;
    height: 5rem;
    display: flex;
    align-items: center;
    /* color: darkgrey; */
    color: rgba(0,0,0, 0.5);
    background-color: white;
    box-shadow: rgba(50,50,50, 0.25) 0 2x 5px -1px, 
    rgba(0,0,0, 0.3) 0 1px 3px -1px;
    border-radius: 0.9rem;
    margin: 0.3rem ;
    cursor: grab;
}

.task h4 {
    margin: 0;
    padding: 0.2rem;
}

.task p {
    margin: 0;
    font-size: 0.8em;
    padding: 0.2rem;
}

.image-container img {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 0.5rem
}
/* gdyby obrazek był prostokątny, wtedy trzeba rozdzielić img od div i dac img width:100% */
