/* All images come from pexels.com */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Comfortaa:wght@400;700&family=Source+Code+Pro:wght@200;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(251, 217, 251, 0.3);
    /* font-family: 'Comfortaa', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.column {
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.task-title {
    border-radius: 0.9rem 0.9rem 0 0;
    padding: 0.5rem;
}

#title-1 {
    background-color: rgba(251, 0, 255, 0.9);
    margin: 0;  
}

#title-2 {
    background-color: rgba(251, 191, 10, 0.9);
    margin: 0;  
}

#title-3  {
    background-color: rgba(251, 67, 20, 0.9);
    margin: 0;  
}

.task-container {
    display: flex;
    background-color: rgba(211, 211, 211, 0.1);
    color: slategrey;
    padding: 0.5rem;
    border-radius: 0.9rem;
    font-size: 1.1em;
}
.task-container img {
    width: 5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}